<!--
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/header.png"></a>
-->
<header class="site-header">
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">
        <img src="/assets/home_icon.png" alt="home" width="75" height="75"> 
      </a></li>
	  <li class="nav-item"><a href="{{ site.baseurl }}/resume/">
      <img src="/assets/resume_icon.png" alt="resume" width="75" height="75"> 
    </a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">
        <img src="/assets/about_icon.png" alt="about" width="75" height="75"> 
      </a></li>
    </ul>
  </nav>
  <div class="mobile-only">
    mobile layout is WIP
  </div>
</header>
