/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        path {
            fill: $color-secondary;
        }
    }
}
