<!DOCTYPE html>
<html>

  {% include head.html %}

  <style>
	  body { background-color: #181A1B; }
  </style>

  <body>

    <main class="wrapper">
      

      <div class="container">
        {% include info.html %}
        <center>
          <h2>
            Thomas Jensen<br>
          </h2>
          <h4>
          Game & Tools Programmer
          </h4>
        </center>
		
		{{ content }}

        <!--{% include footer-home.html %}-->
        {% include header.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
