<!DOCTYPE html>
<html>

  {% include head.html %}

  <style>
	  body { background-color: #181A1B; }
    h2
    {
      margin-bottom: 0;
    }
    
  </style>

  <body>
    <center>
      {% include info.html %}
      <table style="width:40%;">
        <tr>
          <th><h2>Thomas Jensen</h2></th>
        </tr>
        <tr>
          <td><h4>Game & Tools Programmer</h4></td>
          <td style = "padding-left: 12%;">{% include header.html %}</td>
        </tr>
        </tr>
      </table>
    </center>
    <main class="wrapper">

      <div class="container">

		{{ content }}
        <!--{% include footer-home.html %}-->
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
