<!DOCTYPE html>
<html>

  {% include head.html %}

  <style>
	  body { background-color: #181A1B; }
  </style>

  <body>
    {% include info.html %}
    <center>
      <h2>
        Thomas Jensen<br>
      </h2>
      <h4>
      Game & Tools Programmer
      </h4>
      {% include header.html %}
    </center>
    <main class="wrapper">
      

      <div class="container">

		{{ content }}
		
        <!--{% include footer-home.html %}-->
        
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
